
.main-body{padding-right: 0px; padding-left: 0px;} 
.demo{border:1px solid #000000;}
.draggable_control .view { display: none; } 
.demo .view { display: block; } 
.draggable_control .preview { display: block; } 
.demo .preview { display: none; }
.demo .row-fluid {
  /* 给demo中的row-fluid元素添加边框和阴影*/
  background-color: #F5F5F5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* inset 表示阴影向内，默认为向外 */
  -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 13px rgba(0, 0, 0, 8.1);
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  margin: 15px 0;
  position: relative;
  padding: 25px  14px 0;
}